.log-pane0 {
    /*-fx-background-color:#39393d;*/
}
.log-pane1{
    /*-fx-background-color:#232326;*/
}
.button{
    -fx-effect:null;
    -fx-border-color: #aaaaaa;
    -fx-border-radius: 4;
    -fx-background-color: white;
}
.button:hover {
    -fx-background-color: #f0f0f0;
}
.button:disabled {
    -fx-background-color: #aaaaaa;
}
.button.selectedButton {
    -fx-text-fill: black;
    -fx-opacity: 0.5;
    -fx-background-color:#ffffff;
}

.root {
    /*-fx-background-color: #303030;*/
}
.label {
    /*-fx-text-fill: #f2f2f2;*/
}
.scroll-pane {
    -fx-background-color: transparent;
    -fx-opacity:1;
}
.log-pane-background {
    -fx-pref-width:inherit;
    -fx-pref-height:inherit;
    /*-fx-background-color: #303030;*/
}
#resourceParam{
    -fx-font-size: 18
}